body {
  background-color: #000;
  font-family: monospace;
  font-weight: bold;
  font-size: 14px;
  color: #55EE33;
  text-align: center;
}

#appContainer {
  background-color: #000;
  border: 3px solid #55AA33;
  border-radius: 5px;
  display: inline-block;
  padding: 5px;
}

h1 {
  background-color: #55AA33;
  color: #000;
  margin: 0 0 10px 0;
}

input {
  text-align: center;
  font-weight: inherit;
  color: inherit;
  background-color: inherit;
  border: none;
  width: 60px;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

input:focus {
  outline: #55EE33 solid 2px;
}

input::selection { 
  background: #55EE33;
  color: #113311;
}
input::-moz-selection { 
  background: #55EE33;
  color: #113311;
}

fieldset {
  background-color: #113311;
  display: inline-block;
  width: 90px;
  padding: 0;
  border: 3px solid #55AA33;
}

legend {
  font-size: 12px;
}

button {
  background-color: #113311;
  border: 3px solid #55AA33;
  color: inherit;
}

button:disabled {
  border: 3px solid #447733;
  color: #447733;
}

button:active {
  background-color: #55AA33;
}

button:focus {
  outline: none;
}

#sessionDisplay {
  display: inline-block;
  width: 120px;
}

svg {
  width: 200px;
  height: 200px;
  margin-top: 10px;
  margin-bottom: 20px;
}

#timerDisplay {
  fill: #55EE33;
  font-size: 32px;
  text-anchor: middle;
}

#timerCircle {
  stroke: #55AA33;
  stroke-width: 4px;
}

#progressBar {
  stroke: #55EE33;
  stroke-width: 20px;
  stroke-dasharray: 566px;
  stroke-dashoffset: 566px;
}

