<html>
  <head>
    <title>Pomodoro Timer</title>
    <link rel="stylesheet" href="css/pomodoro-timer.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <!--<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular.js"></script>-->
    <script src="angular.js"></script>
    <script src="pomodoro-timer.js"></script>
    <script src="services/ordinalFilter.js"></script>
    <script src="services/titlecaseFilter.js"></script>
  </head>
  <body ng-app="pomodoro-timer">
    <div id="appContainer" ng-controller="TimerController">
      <form name="controls" novalidate>
        <fieldset>
          <legend>Pomodoro</legend>
          <input name="pomodoro" type="number" min="1" integer ng-model="pomodoro" ng-disabled="timerRunning" ng-focus="highlight($event)" required></input>
        </fieldset>
        <fieldset>
          <legend>Short Break</legend>
          <input name="shortBreak" type="number" min="1" integer ng-model="shortBreak" ng-disabled="timerRunning" ng-focus="highlight($event)" required></input>
        </fieldset>
        <fieldset>
          <legend>Long Break</legend>
          <input name="longBreak" type="number" min="1" integer ng-model="longBreak" ng-disabled="timerRunning" ng-focus="highlight($event)" required></input>
        </fieldset>
      </form>

      <button ng-click="previousSession()" ng-disabled="timerRunning"><span class="fa fa-chevron-left"></span></button>
      <p id="sessionDisplay"><span ng-bind="pomodoroNumber | ordinal" ng-hide="currentSession=='longBreak'"></span> <span ng-bind="currentSession | titlecase"></span></p>
      <button ng-click="nextSession()" ng-disabled="timerRunning"><span class="fa fa-chevron-right"></span></button>
      
      <div>
        <svg>
          <circle id="timerProgress" cx="44" cy="44" r="40" transform="rotate(-90 44 44)"/>
          <text id="timerDisplay" x="44" y="48" ng-bind="time | date:'m:ss'"></text>
        </svg>
      </div>

      <div>
        <button id="startButton" ng-click="startTimer()" ng-disabled="controls.$invalid"><span class="fa fa-play"></span> Start</button>
        <button id="startButton" ng-click="stopTimer()" ng-disabled="controls.$invalid"><span class="fa fa-pause"></span> Pause</button>
        <button id="startButton" ng-click="stopTimer(true)" ng-disabled="controls.$invalid"><span class="fa fa-undo"></span> Reset</button>
      </div>
    </div>
    <audio id="timerBeep" src="assets/timer-beep.mp3"></audio>
  </body>
</html>