<html>
  <head>
    <title>Pomodoro Timer</title>
    <link rel="stylesheet" href="css/pomodoro-timer.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <!--<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular.js"></script>-->
    <script src="angular.js"></script>
    <script src="pomodoro-timer.js"></script>
    <script src="services/ordinalFilter.js"></script>
    <script src="services/titlecaseFilter.js"></script>
  </head>
  <body ng-app="pomodoro-timer">
    <div id="appContainer" ng-controller="TimerController">
      <form name="controls" novalidate>
        <label>Pomodoro</label>
        <input name="pomodoro" type="number" min="1" integer ng-model="pomodoro" ng-disabled="timerRunning" required></input>
        <label>Short Break</label>
        <input name="shortBreak" type="number" min="1" integer ng-model="shortBreak" ng-disabled="timerRunning" required></input>
        <label>Long Break</label>
        <input name="longBreak" type="number" min="1" integer ng-model="longBreak" ng-disabled="timerRunning" required></input>
        <div>
          <button id="startButton" ng-click="startTimer()" ng-disabled="controls.$invalid"><span class="fa fa-play"></span> Start</button>
          <button id="startButton" ng-click="stopTimer()" ng-disabled="controls.$invalid"><span class="fa fa-pause"></span> Pause</button>
          <button id="startButton" ng-click="stopTimer(true)" ng-disabled="controls.$invalid"><span class="fa fa-undo"></span> Reset</button>
        </div>
      </form>
      <p><span ng-bind="pomodoroNumber | ordinal" ng-hide="session=='longBreak'"></span> <span ng-bind="session | titlecase"></span></p>
      <p ng-bind="time | date:'m:ss'"></p>
    </div>
  </body>
</html>